<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154797654489-89mcogg08ro329tlp3esgr0bbgst1n1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154797654489-89mcogg08ro329tlp3esgr0bbgst1n1k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>154797654489-vh633f363ljj42fqur6nelenjmng73bm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_MMfNTOJKXi-1fOdZoKZ_Ho9Qt98ppq4</string>
	<key>GCM_SENDER_ID</key>
	<string>154797654489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeleniKljuc</string>
	<key>PROJECT_ID</key>
	<string>green-srb</string>
	<key>STORAGE_BUCKET</key>
	<string>green-srb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154797654489:ios:78a2fc1a9574cab36059c8</string>
	<key>DATABASE_URL</key>
	<string>https://green-srb-default-rtdb.firebaseio.com</string>
</dict>
</plist>